<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="Admin/fragments/AdminLayout:: Head">
<style type="text/css">
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}
/* set the style for the active class */
.pagination a.active {
	background-color: dodgerblue;
	color: white;
}
/* add background color when user hovers on inactive class */
.pagination a:hover:not(.active) {
	background-color: #ddd;
}
</style>
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div th:replace="Admin/fragments/AdminLayout:: Header"></div>
		<!-- ============================================================== -->
		<!-- End Topbar header -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<div th:replace="Admin/fragments/AdminLayout:: leftSidebar"></div>
		<!-- End Sidebar scroll-->
		</aside>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="page-title mb-0 p-0">Order</h3>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Manager Admin</a></li>
									<li class="breadcrumb-item active" aria-current="page">Order</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<div class="text-end upgrade-btn">
							<a href="https://www.wrappixel.com/templates/monsteradmin/"
								class="btn btn-success d-none d-md-inline-block text-white"
								target="_blank">Upgrade to Pro</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Table -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="d-md-flex">
								<h4 class="card-title col-md-10 mb-md-0 mb-3 align-self-center">
									<a href="/Admin/Order/add" class="btn btn-success">Add
										Order</a>
								</h4>
								<div class="col-md-2 ms-auto">
									
									<form th:action="@{/Admin/Order}">
									
										<input type="date" th:value="${date}"	id="date" name="date"> 
										<input type="submit" value="Search" >
									</form>
								</div>
							</div>
							<div class="table-responsive mt-5">
								<table class="table stylish-table no-wrap">
									<thead>
										<tr>
											<th class="border-top-0" colspan="2">ID</th>
											<th class="border-top-0">Name User</th>
											<th class="border-top-0">Status</th>


											<th class="border-top-0">Shipping</th>

											<th class="border-top-0">create At</th>
											<th class="border-top-0">Total Price</th>

										</tr>
									</thead>
									<tbody>

										<tr th:each="order : ${order}" class="active">
											<td><span class="round"><img
													src="../assets/images/users/2.jpg" alt="user" width="50"></span>
											</td>
											<td class="align-middle"><small th:text="${order.id}"
												class="text-muted"></small></td>
											<td th:text="${order.usersEnityOrders.username}"
												class="align-middle"></td>
											<th:block th:switch="${order.status}">
												<td th:th:case="0"
												class="align-middle">Chua giao hang</td>
												<td th:th:case="1"
												class="align-middle">Da Giao Hang</td>
												<td th:th:case="2"
												class="align-middle">Hoan Thanh</td>
											</th:block>
											<td th:text="${order.shipperEnityOrders.name}"
												class="align-middle"></td>
											<td th:text="${order.createdDate}" class="align-middle"></td>
											<td th:text="${order.totalPrice}" class="align-middle"></td>


											<td><a
												th:href="@{/Admin/Order/Details?id={id}(id=${order.id})} "
												class="btn btn-primary">Detail </a> <a
												th:href="@{/Admin/Order/edit?id={id}(id=${order.id})}"
												class="btn btn-primary"> Edit</a><a
												th:href="@{/Admin/Order/delete?id={id}(id=${order.id})}"
												class="btn btn-danger">Delete </a>
												<th:block th:if="${order.status == 0}">
												<a
												th:href="@{/Admin/Order/Set?id={id}(id=${order.id})} "
												class="btn btn-primary">Giao hang </a>
												</th:block>
												</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Table -->
			<!-- ============================================================== -->

			<!-- ==================Phan trang -->
			<div style="text-align: center">
				<th:block th:each="i: ${#numbers.sequence(1, order.TotalPages)}">

					<a th:href="@{'/Admin/Order?pageId=' + ${i}}"> <span
						th:utext="${i}"> </span>
					</a>

				</th:block>
			</div>
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<div th:replace="Admin/fragments/AdminLayout:: Footer"></div>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>

	</div>

</body>

</html>