<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Users / Profile - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link th:href="@{/Custommer/UserInfor/assets/img/favicon.png}"
	rel="icon">
<link th:href="@{/Custommer/UserInfor/assets/img/apple-touch-icon.png}"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
	rel="stylesheet">
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/boxicons/css/boxicons.min.css}"
	rel="stylesheet">
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/quill/quill.snow.css}"
	rel="stylesheet">
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/quill/quill.bubble.css}"
	rel="stylesheet">
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/remixicon/remixicon.css}"
	rel="stylesheet">
<link
	th:href="@{/Custommer/UserInfor/assets/vendor/simple-datatables/style.css}"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link th:href="@{/Custommer/UserInfor/assets/css/style.css}"
	rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">

		</div>
		<!-- End Logo -->

		<div class="search-bar"></div>
		<!-- End Search Bar -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item d-block d-lg-none"></li>
				<!-- End Search Icon-->

				<li class="nav-item dropdown"></li>
				<!-- End Notification Nav -->

				<li class="nav-item dropdown"></li>
				<!-- End Messages Nav -->

				<li class="nav-item dropdown pe-3"><a
					class="nav-link nav-profile d-flex align-items-center pe-0"
					href="#" data-bs-toggle="dropdown"> <img
						src="assets/img/profile-img.jpg" alt="Profile"
						class="rounded-circle"> <span
						class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
				</a> <!-- End Profile Iamge Icon -->

					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>Kevin Anderson</h6> <span>Designer By </span>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>



						<li><a class="dropdown-item d-flex align-items-center"
							href="users-profile.html"> <i class="bi bi-gear"></i> <span>Account
									Settings</span>
						</a></li>

						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="users-profile.html"> <i class="bi bi-basket3"></i> <span>My
									Orders</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>


						<li><a class="dropdown-item d-flex align-items-center"
							href="#"> <i class="bi bi-box-arrow-right"></i> <span>Sign
									Out</span>
						</a></li>

					</ul> <!-- End Profile Dropdown Items --></li>
				<!-- End Profile Nav -->

			</ul>
		</nav>
		<!-- End Icons Navigation -->

	</header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-heading">Pages</li>

			<li class="nav-item"><a class="nav-link "
				href="users-profile.html"> <i class="bi bi-person"></i> <span>Profile</span>
			</a></li>
			<!-- End Profile Page Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				href="pages-register.html"> <i class="bi bi-bag-check"></i> <span>My
						Orders</span>
			</a></li>



			<li class="nav-item"><a class="nav-link collapsed" href="#">
					<i class="bi bi-box-arrow-right"></i> <span>Sign Out</span>
			</a></li>
			<!-- End Login Page Nav -->

		</ul>

	</aside>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Profile</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">Users</li>
					<li class="breadcrumb-item active">Profile</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section profile">
			<div class="row">


				<div class="col-xl-8">

					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered">

								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#profile-overview">Overview</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-edit">Edit</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-change-password">Change
										Password</button>
								</li>

							</ul>
							<div class="tab-content pt-2">

								<div class="tab-pane fade show active profile-overview"
									id="profile-overview">

									<h5 class="card-title">Profile Details</h5>

									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8"
											th:utext="${userLoginedIsEnity.name}"></div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">User Name</div>
										<div class="col-lg-9 col-md-8"
											th:utext="${userLoginedIsEnity.username}"></div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Address</div>
										<div class="col-lg-9 col-md-8">A108 Adam Street, New
											York, NY 535022</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Phone</div>
										<div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8"
											th:utext="${userLoginedIsEnity.email}"></div>
									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">

									<!-- Profile Edit Form -->
									<form>
										<table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">First</th>
													<th scope="col">Last</th>
													<th scope="col">Handle</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each="order : ${orders}">
													<tr>
														<th scope="row" th:utext="${order.id}"></th>
														<td th:utext="${order.createdDate}">Mark</td>
														<th:block th:switch="${order.status}">
															<td th:th:case="0">Chua giao hang</td>
															<td th:th:case="1">Dang giao hang</td>
														</th:block>

														<td><a
															href=""
															class="btn btn-primary">Detail </a> <th:block
																th:if="${order.status == 0}">
																<a
																	th:href="@{/Admin/Order/delete?id={id}(id=${order.id})}"
																	class="btn btn-danger">Huy Don </a></td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</form>
									<!-- End Profile Edit Form -->

								</div>


								<div class="tab-pane fade pt-3" id="profile-change-password">
									<!-- Change Password Form -->
									<form>

										<div class="row mb-3">
											<label for="currentPassword"
												class="col-md-4 col-lg-3 col-form-label">Current
												Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="password" type="password" class="form-control"
													id="currentPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="newPassword"
												class="col-md-4 col-lg-3 col-form-label">New
												Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="newpassword" type="password"
													class="form-control" id="newPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword"
												class="col-md-4 col-lg-3 col-form-label">Re-enter
												New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="renewpassword" type="password"
													class="form-control" id="renewPassword">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change
												Password</button>
										</div>
									</form>
									<!-- End Change Password Form -->

								</div>

							</div>
							<!-- End Bordered Tabs -->

						</div>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- Vendor JS Files -->
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/apexcharts/apexcharts.min.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/chart.js/chart.min.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/echarts/echarts.min.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/quill/quill.min.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/simple-datatables/simple-datatables.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/tinymce/tinymce.min.js}"></script>
	<script
		th:src="@{/Custommer/UserInfor/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/Custommer/UserInfor/assets/js/main.js}"></script>

</body>

</html>