.p1 table {
    width: 30%;
    border-collapse: collapse;

}

.p1 th {
    background: yellow;
}
.p2{
    table-layout: auto;
}
.p2 h1  {
    color: blue;
}
.p2 pre{
    color: blue;
}
.p2 table{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}
.p2 th{
    background: yellow;
}

